@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display:flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 18px;
  background: #eee;
  padding: 10px 20px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  color: gray;
  
}
 .footer {
  margin-top: auto;
  background-color: #eee;
 }

.left-links, .right-links {
  display: flex;
  padding: 0 15px;
  list-style: none;
  gap: 20px;
}

.right-links {
  justify-content: flex-end;
}

a {
  color: inherit;
  text-decoration: none;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.buttons {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}